.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid rgb(55 102 102 / 20%);
  background: rgb(11 18 18 / 80%);
  backdrop-filter: blur(16px);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100% - 80px, 1280px);
  height: 80px;
  margin: 0 auto;
}

.logo {
  display: inline-flex;
  gap: 16px;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.07px;
}

.logoIcon {
  width: 15px;
  height: 18px;
  object-fit: contain;
}

.nav {
  display: flex;
  gap: 32px;
  color: #94a3b8;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.downloadIcons {
  display: inline-flex;
  gap: 12px;
  align-items: center;
}

.downloadIcons a {
  display: grid;
  width: 38px;
  height: 38px;
  place-items: center;
  border-radius: 999px;
}

.downloadIcons img {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  filter: brightness(0) saturate(100%) invert(64%) sepia(81%) saturate(455%) hue-rotate(93deg) brightness(95%) contrast(91%);
}

@media (max-width: 900px) {
  .inner {
    width: min(100% - 32px, 1280px);
    height: 68px;
  }

  .logo {
    gap: 10px;
    font-size: 20px;
    line-height: 28px;
  }

  .nav {
    display: none;
  }

  .downloadIcons {
    gap: 10px;
  }

  .downloadIcons a {
    width: 34px;
    height: 34px;
  }

  .downloadIcons img {
    width: 18px;
    height: 18px;
  }
}